.headerWrapper {
    border-bottom: 1px solid var(--color-main);
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    max-width: var(--container-width);
    margin: 0 auto;

    @media (max-width: 650px ) {
        height: 40px;
    }
}


.headerElement {
    display: flex;
    align-items: center;
    height: 100%;
}